nav {font-family:Verdana, Geneva, Tahoma, sans-serif}
h5.card-title{color:gray}
p {font-style: italic;}
h4{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-stretch: expanded;
  }

card-body {margin: auto;}

@media (min-width: 480px) {
  }

.row {
    margin-bottom: 30px;
    padding: 10px;
}
h5.card-title::first-letter {
    color: #903;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 45px;
    line-height: 20px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
    float:left;
}

#map {
    height: 400px;
    /* The height is 400 pixels */
    width: 100%;
    /* The width is the width of the web page */
}

body{ height:100vh; margin:0; }
  
body{ 
    display:flex; 
    flex-direction:column; 
  }
  
footer{
    margin-top:auto;
    text-align: center;
    font-size: 0.5em;
    text-transform: uppercase;
    padding: 10px;
    letter-spacing: 3px;
    font-family: "Questrial", sans-serif;  
  }

.w-100 {
    width: 60% !important;
    margin:auto;
  }

.card h-100{
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}

#btn-back-to-home {
  height: 40px;
  margin-top: auto;
  position: fixed;
  left: 20px;
  bottom: 5px;
}

#btn-back-to-top {
  position: fixed;
  bottom: 40px;
  right: 20px;
  display: none;
}

